# Ensure Cloud Build's npm install uses legacy peer dep resolution to avoid ERESOLVE failures
legacy-peer-deps=true

# Reduce network timeouts in cloud build (optional)
fetch-retries=2
fetch-retry-factor=2
fetch-retry-mintimeout=2000
